{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Game Story Generator</title>
    <link rel="stylesheet" href="{% static 'css/stylesauth.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <main class="container">
        <section class="generate-form-section">
            <h2>Login</h2>
            <form method="post" class="generate-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit" class="submit-btn">Login</button>
                    <a href="{% url 'register' %}" class="reset-btn">Register</a>
                </div>
            </form>
        </section>
    </main>
</body>

</html>